zsh/cache
bash/special
zsh/special
*.swp
bash/os.bash
zsh/os.zsh
ta/bash/os.bash
ta/zsh/os.zsh
zsh/history
subversion/README.txt
ta/bash/bash
ta/zsh/zsh
config/sublime-text-2/Packages/Velocity/velocity\ syntax.tmLanguage.cache
