zsh/cache
*.swp
bash/os.bash
zsh/os.zsh
zsh/history
subversion/README.txt
config/sublime-text-2/Packages/Velocity/velocity\ syntax.tmLanguage.cache
bin/ta
zsh/include.d
subversion/auth
atom/.node-gyp
