Host *
	Compression yes

Host crawfish
	User wasche

Host lumberjack
	User wasche

Host carrot
	User root

Host merge
	User root

Host merge2
	User root

Host *-dev
	User root

Host dev*n
	User root

Host ruby
	User root

Host thenest
	User kurakin

Host devsocial
	User root

Host binky
	User root

Host bongo
	User root

Host jessica
	User root

Host roger
	User root
