Host *
	Compression yes

Host crawfish
	HostName crawfish
	User wasche

Host lobster
	HostName lobster
	User wasche

Host lumberjack
	HostName lumberjack
	User wasche

Host carrot
	HostName carrot
	User root

Host merge
	HostName merge.tripadvisor.com
	User root

Host merge2
	HostName merge2.tripadvisor.com
	User root

Host merge3
	HostName merge3.tripadvisor.com
	User root

Host *-dev
	User root

Host wasche-dev
	HostName wasche-dev
	User root

Host druid
	HostName druid.dhcp.tripadvisor.com
	User wasche

Host dev*n
	User root

Host ruby
	HostName ruby
	User root

Host thenest
	HostName thenest
	User kurakin

Host wickedspiral.com
	HostName wickedspiral.com
	User kurakin

Host devsocial
	HostName devsocial
	User root

Host binky
	HostName binky
	User root

Host bongo
	HostName bongo
	User root

Host jessica
	HostName jessica
	User root

Host roger
	HostName roger
	User root

Host fiver
	HostName fiver
	User root

Host frank
	HostName frank
	User root

Host trix
	HostName trix
	User root

Host vodka
	HostName vodka
	User root

Host tom
	HostName tom
	User root

Host gin
	HostName gin
	User root
