Host *
	Compression yes

Host crawfish
	HostName crawfish.ndmad2.tripadvisor.com
	User wasche

Host lobster
	HostName lobster.dev.tripadvisor.com
	User wasche

Host lumberjack
	HostName lumberjack
	User wasche

Host *-dev
	User root

Host bro*
	User root

Host druid
	HostName druid.dhcp.tripadvisor.com
	User wasche

Host witch
	HostName witch.dhcp.tripadvisor.com
	User wasche

Host dev*n
	User root

Host ruby
	HostName ruby.dev.tripadvisor.com
	User root

Host thenest
	HostName thenest
	User kurakin

Host wickedspiral.com
	HostName wickedspiral.com
	User kurakin

Host devsocial
	HostName devsocial
	User root

Host binky
	HostName binky.nw.dev.tripadvisor.com
	User root

Host bongo
	HostName bongo.nw.dev.tripadvisor.com
	User root

Host jessica
	HostName jessica.nw.dev.tripadvisor.com
	User root

Host roger
	HostName roger.nw.dev.tripadvisor.com
	User root

Host fiver
	HostName fiver.nw.dev.tripadvisor.com
	User root

Host frank
	HostName frank.nw.dev.tripadvisor.com
	User root

Host trix
	HostName trix.nw.dev.tripadvisor.com
	User root

Host fred
	HostName fred.nw.dev.tripadvisor.com
	User root

Host vodka
	HostName vodka
	User root

Host tom
	HostName tom
	User root

Host gin
	HostName gin
	User root

Host aztec
	HostName aztec
	User root

Host maya
	HostName maya
	User root

Host inca
	HostName inca.d.tripadvisor.com
	User wasche

Host bear
	HostName bear
	User kurakin

Host api-slave-3n
	HostName api-slave-3n
	User root

Host silverfish
	HostName silverfish.local
	User wasche

Host lapras
	HostName social.nw.dev.tripadvisor.com
	User wasche

Host social
	HostName social.nw.dev.tripadvisor.com
	User wasche

Host dragonite
	HostName dragonite.dhcp.tripadvisor.com
	User root

Host triplist
	HostName triplist.ext.tripadvisor.com
	User root

Host fbetl01d
	HostName fbetl01d.d.tripadvisor.com
	User wasche

Host social-jobs
	HostName social-jobs01d.d.tripadvisor.com
	User wasche

Host strlog
	HostName strlog01n.dev.tripadvisor.com
	User wasche

Host sonar
	HostName engagement-sonar.dev.tripadvisor.com
	User wasche

Host merge3
	HostName merge3.ndmad2.tripadvisor.com
	User wasche
