/* Location:
 *
 * Mac OSX: ~/Library/Application\ Support/Google/Chrome/Default/User\ StyleSheets/Custom.css
 */


/*
 * Zimbra Web Mail
 */
tr#skin_tr_top { display: none; } /* hide logo */
div#ztb_people_search { display: none; } /* hide people search */
div#skin_container_app_chooser { top: -3px; } /* fix app toolbar position */
td#skin_spacing_app_row { padding: 0 !important } /* remove left padding on app tool bar */
div#zov__main_Mail { top: 37 !important; } /* fix folders tree position */

/* hide irritating buddy stuff at bottom of reader pane */
div#z_taskbar { display: none; } 
div#skin_container_taskbar { height: 8px !important }

/* remove cheesy gradient at top of page */
 #skin_spacing_filler { background-color: #CECECE !important; background-image: none  !important; height: 8px !important }
td#skin_spacing_search_row { padding-bottom: 6px; }
